@charset "utf-8";
/* CSS Document */

a,
.theme_color,
.btn-style-four:hover,
.main-slider .price,
.main-slider .title,
.main-menu .navigation > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li > ul > li:hover > a,
.main-header .info-box .icon-box,
.main-header .header-top .top-right .mail-us .icon,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-header .header-lower .outer-box .phone-number .icon-outer .icon,
.main-header.light-version .main-menu .navigation > li:hover > a,
.main-header.light-version .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a,
.main-slider .owl-nav .owl-prev,
.main-slider .owl-nav .owl-next,
.video-box .overlay-box span,
.price-block .inner-box .price,
.news-block .inner-box .post-meta li a:hover,
.price-block .inner-box .lower-box .book-btn:hover,
.fact-counter .column .inner .count-outer,
.featured-section .owl-nav .owl-prev:hover,
.featured-section .owl-nav .owl-next:hover,
.feedback-block .inner-box .lower-content .rating span,
.accordion-box .block .acc-btn.active .icon-outer,
.feedback-block .inner-box .lower-content h3 a:hover,
.news-block .inner-box .image .post-date,
.news-block .inner-box .lower-content h3 a:hover,
.main-footer .footer-upper-box .left-column .icon-box,
.main-footer .footer-upper-box .right-column .icon-box,
.main-footer .footer-upper-box .expert-box .icon-box,
.news-block .inner-box .lower-content .admin li .icon,
.main-footer .footer-bottom .buy-btn:hover span,
.featured-block-two .inner-box a:hover,
.btn-style-one:hover,
.btn-style-three:hover,
.error-section .go-back,
.booking-form .book-btn:hover,
.services-widget ul li a:hover,
.tile-block .image-column .play-btn,
.info-block .inner-box .link:hover,
.info-block .inner-box .icon-box,
.new-posts a:hover,
.category-list li a:hover,
.about-widget .read-more:hover,
.sidebar .popular-posts .post .title,
.sidebar .popular-posts .post a:hover,
.video-block .inner-box .lower-content h3 a span,
.video-block .inner-box .image .play-box .play,
.services-single-block .inner-box .image .overlay-box h3 a:hover,
.featured-block-four .inner-box .icon-box,
.featured-block-three .inner-box .icon-box,
.pricing-section-two .pricing-column .owl-nav .owl-prev:hover,
.pricing-section-two .pricing-column .owl-nav .owl-next:hover,
.pricing-section-two .steps-column .inner-column .calculate-btn:hover,
.emergency-section .content-column .title,
.emergency-block .inner-box h3 a:hover,
.reviews-section .title-box .ratings .fa,
.appointment-form fieldset .form-group .icon,
.appointment-form fieldset .ui-button .ui-icon:before,
.estimate-block .inner-box .icon-box,
.featured-block-three .inner-box h3 a:hover,
.featured-block-four .inner-box h3 a:hover,
.testimonial-block .inner-box .author-info span,
.case-block .inner-box .image .overlay-box h3 a:hover,
.case-block .inner-box .image .overlay-box .title,
.emergency-block .inner-box .icon-outer .icon-box,
.featured-section-two .owl-nav .owl-prev:hover,
.featured-section-two .owl-nav .owl-next:hover,
.services-block-two .inner-box .upper-box .icon-box,
.services-block-two .inner-box .upper-box h3 a:hover,
.services-block-two .inner-box .lower-box .read-more:hover,
.services-block-four .inner-box .upper-content h3 a:hover,
.appointment-section .estimate-column .calculate-btn:hover,
.estimate-form .form-group .ui-button .ui-icon:before,
.featured-block .inner-box:hover .upper-content h3 a:hover,
.buckets-block .inner-box .icon-outer .icon-box,
.buckets-block .inner-box h3 a:hover,
.person-block .inner-box .title,
.main-header .info-box .appointment-btn:hover,
.instagram-widget .sidebar-title-two .follow,
.instagram-widget .widget-content .instagram-post .icon,
.case-block-three .inner-box .image .lower-box .content .arrow,
.case-block-three .inner-box .image .overlay-box h3 a:hover,
.case-block-two .inner-box .image .overlay-box .title,
.comments-area .comment-box .reply-comment,
.styled-pagination li a:hover, .styled-pagination li a.active,
.case-block-two .inner-box .image .overlay-box h3 a:hover,
.blog-single-section .inner-section .upper-box .post-meta li .icon,
.blog-single-section .inner-section .post-share-options .post-share-inner,
.tiles-section .owl-nav .owl-prev:hover, .tiles-section .owl-nav .owl-next:hover,
.feedback-section .owl-nav .owl-prev:hover, .feedback-section .owl-nav .owl-next:hover,
.blog-single-section .other-posts .prev-post a:hover, .blog-single-section .other-posts .next-post a:hover{
	color:#fbb908;
}

/*Background Color*/
.btn-style-four,
.btn-style-one,
.scroll-to-top,
.scroll-to-top:hover,
.btn-style-three,
.sec-title .separator:before,
.sec-title .separator:after,
.social-icon-one li a:hover,
.sidebar-title .separator:before,
.sidebar-title .separator:after,
.main-footer .footer-bottom .buy-btn span,
.main-footer .footer-bottom .buy-btn:hover,
.price-block .inner-box .lower-box .book-btn,
.process-block .inner-box:hover .number-line .number,
.main-header .header-top .search-box-btn:hover,
.main-header .header-top .top-right .mail-us:hover,
.main-menu .navigation > li:before,
.list-style-two li:before,
.booking-form .book-btn,
.category-list li a span,
.social-widget ul li a:hover,
.sidebar .popular-tags a:hover,
.feedback-block .inner-box .lower-content .rating:after,
.welcome-block .inner-box:hover .content-outer .arrow,
.main-header .header-top .top-left .social-nav li a:hover,
.featured-block .inner-box .upper-content:after,
.accordion-box .block.active-block .acc-content:after,
.process-block .inner-box:hover .number-line:before,
.feedback-block .inner-box:hover .lower-content .quote-icon,
.news-block .inner-box .image .post-date span,
.pricing-section-two .steps-column .inner-column .separator:before,
.pricing-section-two .steps-column .inner-column .separator:after,
.news-block .inner-box:hover .lower-content .read-btn,
.ui-state-active, .ui-widget-content .ui-state-active,
.client-section .carousel-column .inner-column .owl-dots,
.services-block-three .inner-box:before,
.team-block .inner-box .image .social-option li a:hover,
.expert-section .blocks-column .owl-nav .owl-prev:hover,
.expert-section .blocks-column .owl-nav .owl-next:hover,
.appointment-section .estimate-column .calculate-btn,
.services-block-four .inner-box .upper-content:after,
.case-masonry-section .filters .filter.active,
.case-masonry-section .filters .filter:hover,
.contact-form .message-btn,
.person-block .inner-box .title:before,
.main-header .info-box .appointment-btn,
.pricing-section-two .steps-column .inner-column .calculate-btn,
.main-header .header-lower .outer-box .appointment-box .appointment-btn,
.main-header .header-upper .language .dropdown-menu > li > a:hover,
.main-slider .owl-nav .owl-prev:hover, .main-slider .owl-nav .owl-next:hover,
.main-slider .owl-dots .owl-dot:hover, .main-slider .owl-dots .owl-dot.active{
	background-color:#fbb908;
}

/*Border Color*/

.btn-style-one,
.btn-style-four,
.btn-style-three,
.social-icon-one li a:hover,
.error-search-form .form-group input:focus,
.appointment-section .estimate-column .calculate-btn,
.featured-block-three .inner-box:hover::before,
.featured-block-four .inner-box:hover::before,
.price-block .inner-box .lower-box .book-btn,
.process-block .inner-box:hover .number-line .number,
.featured-section .owl-nav .owl-prev:hover,
.featured-section .owl-nav .owl-next:hover,
.main-header .header-upper .language .dropdown-menu,
.main-header .header-top .search-box-btn:hover,
.main-header .header-top .top-right .mail-us:hover,
.main-header .header-top .search-box-outer .dropdown-menu,
.main-header .header-top .top-left .social-nav li a:hover,
.main-header .header-top .search-panel input:focus,
.main-header .header-top .search-panel select:focus,
.ui-state-active, .ui-widget-content .ui-state-active,
.featured-section-two .owl-nav .owl-prev:hover,
.featured-section-two .owl-nav .owl-next:hover,
.appointment-section .estimate-column .estimate-blocks .inner-blocks,
.pricing-section-two .pricing-column .owl-nav .owl-prev:hover,
.pricing-section-two .pricing-column .owl-nav .owl-next:hover,
.pricing-section-two .steps-column .inner-column .calculate-btn,
.client-section .content-column .inner-column .text,
.expert-section .blocks-column .owl-nav .owl-prev:hover,
.expert-section .blocks-column .owl-nav .owl-next:hover,
.client-section .carousel-column .inner-column .owl-dots .owl-dot,
.booking-form input[type="text"]:focus,
.booking-form input[type="email"]:focus,
.booking-form input[type="password"]:focus,
.booking-form select:focus,
.booking-form textarea:focus,
.booking-form .book-btn,
.social-widget ul li a:hover,
.sidebar .popular-tags a:hover,
.styled-pagination li a:hover, .styled-pagination li a.active,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="password"]:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.main-header .info-box .appointment-btn{
	border-color:#fbb908;
}

/*RGBA Color Light*/

.featured-block-two .inner-box .icon-box:before{
	background-color:rgba(251,185,8,0.50)
}

/*RGBA Color Light*/

.case-block-two .inner-box .image .overlay-box:before{
	background-color:rgba(251,185,8,0.10)
}

/*RGBA Color Dark*/

@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggler,
	.main-menu .navbar-header .navbar-toggle{
		border-color:#fbb908;
	}
	
	.main-menu .navbar-header .navbar-toggler,
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.header-style-two.inner-header .main-menu .navigation > li > a{
		background-color:#fbb908;
	}
	
}